
.drop-area-container {
  padding: 50px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .drop-area {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 15px;
  }

}

.btn-container {
  display: flex;
  justify-content: space-evenly;

}



