<form class="form-group" [formGroup]="customFormGroup" novalidate>
  <mat-form-field class="form-group__field">
    <mat-label for="placeholderInput">Label text</mat-label>
    <input
      matInput
      class="form-group__input"
      id="placeholderInput"
      name="placeholderInput"
      type="text"
      formControlName="labelText"
    />
  </mat-form-field>

  <mat-form-field class="form-group__field">
    <mat-label for="fontSize">Font Size</mat-label>
    <input
      class="form-group__input"
      id="fontSize"
      type="text"
      formControlName="fontSize"
      matInput
    />
  </mat-form-field>

  <mat-form-field class="form-group__field">
    <mat-label form="fontWeight">Font weight</mat-label>
    <mat-select id="fontWeight" name="fontWeight" formControlName="fontWeight">
      <mat-option *ngFor="let weight of fontWeightGrade" value="{{ weight }}">{{
        weight
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-group__field">
    <mat-label>Checkbox style</mat-label>
    <mat-select id="select" name="select" formControlName="checkboxStyle">
      <mat-option value="primary">Primary</mat-option>
      <mat-option value="accent">Accent</mat-option>
      <mat-option value="warn">Warn</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-group__field">
    <mat-label>Text Color</mat-label>
    <input
      formControlName="textColor"
      class="color"
      id="color"
      type="color"
      matInput
    />
  </mat-form-field>
</form>
